head
    meta(charset="UTF-8")
    title= title
    meta(name="description" content=descr)

    //- PWA meta
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, viewport-fit=cover")
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
    meta(name='format-detection', content='telephone=no')

    //- Og meta
    meta(property='og:title', content=title)
    meta(property='og:description', content=descr)
    meta(property='og:type', content='website')
    meta(property='og:image', content=`https://${domain}/assets/favicon/apple-touch-icon.png`)
    //- meta(property='og:image:width', content='1200')
    //- meta(property='og:image:height', content='630')

    //- Favicon (realfavicongenerator.net)

    //- Splashscreen
    link(rel='apple-touch-startup-image', href='/assets/splash/launch-640x1136.png', media='(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)')
    link(rel='apple-touch-startup-image', href='/assets/splash/launch-750x1294.png', media='(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)')
    link(rel='apple-touch-startup-image', href='/assets/splash/launch-1242x2148.png', media='(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)')
    link(rel='apple-touch-startup-image', href='/assets/splash/launch-1125x2436.png', media='(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)')
    link(rel='apple-touch-startup-image', href='/assets/splash/launch-1536x2048.png', media='(min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait)')
    link(rel='apple-touch-startup-image', href='/assets/splash/launch-1668x2224.png', media='(min-device-width: 834px) and (max-device-width: 834px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait)')
    link(rel='apple-touch-startup-image', href='/assets/splash/launch-2048x2732.png', media='(min-device-width: 1024px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait)')
    
    //- Styles
    link(rel="stylesheet", href="./css/app.css")