block const
-
    const title  = `${name ?  `${name} - ` : ''}Project`;
    const descr  = 'Description';
    const domain = 'subdomain.salex.pro'

mixin icon(name, size, color, viewbox)
    - viewbox = viewbox || size
    svg(xmlns='http://www.w3.org/2000/svg' width=size[0] height=size[1] viewbox=viewbox ? "0 0 " + viewbox[0] + " " + viewbox[1] : "")
        use(fill=color, xlink:href='#' + name)

//- Components
include components/_icons
//- include components/_menu

doctype html
html(lang="ru")
    include components/_head
    body
        main.off-canvas-content.wrap(data-off-canvas-content)
            include sections/_header
            block content
                include sections/_footer
            //- include components/_popup
        //- include components/_offcanvas
        block js
            script(src="./js/app.min.js")